html{
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5rem;
  color: darkblue;
  background-color: papayawhip;
  padding: 10px;
}

body {
  max-width: 720px;
  margin: 0 auto;
}

h3 {
  margin-top: 5em;
}

.form {
  display: block;
}

.form > * {
  margin-bottom: 0.5em;
}

label,
input {
  display: block;
}


textarea{
  min-height: 150px;
}

.label,
button,
textarea,
input:not([type="checkbox"]) {
  width: 100%;
  box-sizing: border-box;
}

button,
textarea,
input:not([type="checkbox"]) {
  padding: 5px;
}

textarea {
  resize: vertical;
}

.list,
.conditional-field {
    padding: 5px;
    border: 1px ridge black;
    border-radius: 3px;
}

.list > * {
  
  margin-bottom: 5px;
}

.list-item {
  display: flex;
}

.list-item input{
  flex: 3;
  
}

.list-item .positional {
  flex: 1;
  display: flex;
}

.list-item .positional textarea{
  flex: 2;
}

.list-item .positional input{
  align-self: flex-start;
  flex:1;
  box-sizing: border-box;
  margin-right: 5px;
}

.list-item button {
  width: 32px;
  /* border-radius: 0; */
  /* border-bottom-left-radius: 0;
  border-top-left-radius: 0; */
}

.conditional-field .label {
  display: flex;
  align-items: center;
}

.conditional-field .label label {
  display: block;
  flex: 1;
  user-select: none;
}

.hidden {
  display: none;
}

.synchronized-calendar {
  display: flex;
}

.synchronized-calendar > .calendar{
  flex: 1;
}

.calendar label {
  font-size:0.75rem;
}

.preview-list {
  background-color: white;
  
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  display: none;
}




.data-select > div:first-child {
  display: flex;
  width: 100%;
}


.data-select > div:first-child > input:nth-child(1) {
  flex: 1 1 100px;
  
  min-width: 64px;
}

.data-select > div:first-child > input:nth-child(2) {
  user-select: none;
  pointer-events: none;
  background-color: greenyellow;
  width: 64px;
}

.preview-list .list-item{
  font-family: Arial;
  color: black;
  font-size: 13.33px;
  padding: 10px;
  border: 1px solid black;
  border-top: 0;
  user-select: none;
  cursor: pointer;
}

.preview-list .list-item:hover {
  background-color: gray;
}

.preview {
  position: fixed;
  background-color:  tomato;
  color: white;
  padding: 5px 100px;
  right: 0;
  top:0;
  transform:  translateX(100px) translateY(50px) rotate(45deg);
}

.important {
  color: red;
}

.add-button{
  right: 0;
  width: 64px;

  font-weight: bold;
  font-size: 1rem;
  padding: 0;
  line-height: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  /* opacity: 0.5; */
  background-color: tomato;
  /* box-shadow: 0 0 5px rgb(255, 0, 0); */
  z-index: 100;
  border: 1px solid darkred;
  user-select: none;
}