$sans-serif: "Arial";

$padding: 10px;


$white: #FEFEFE;
$gray: rgb(126, 126, 126);
$primary-color: #3CB8FF;

$yellow: #F9D939;
$green: #18F2B2;
$red: #EE4266;

$large-font: 1.2em;
$regular-font: 1em;
$small-font: 0.8em;
$xtra-small-font: 0.6em;

$border-radius:10px;

$transition-time: 0.3s;
$long-transition-time: 0.6s;